<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第一个Vue程序</title>
</head>
<style>
    .item{
        color: blue;
    }
</style>
<body>
    <div id="app">{{msg}}
        <div>
            <input type="text" v-model="info">
            <button @click="handleClick">添加</button>
        </div>
        <ul>
            <todo-item v-for="item in list" :item="item"></todo-item>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component("todo-item",{
            props:['item'],
            template:'<li class="item">{{item}}</li>'
        })
        new Vue({
            el:'#app',
            data() {
                return {
                    msg:"hello world",
                    info:"",
                    list:[]
                }
            },
            methods: {
                handleClick(){
                    console.log('info===',this.info);
                    this.list.push(this.info)   //传值
                    this.info=""    //清空input框
                }
            },
        })
    </script>
</body>
</html>