<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>条件渲染</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    //v-if会删除dom元素 控制台没有元素
    //v-show会隐藏元素  控制台还存在元素，用display:none 隐藏了
    //v-else-if,v-else要和v-if上下两行贴在一起使用
    const app = Vue.createApp({
      data() {
        return {
          show: true,
          conditionOne:false,
          conditionTwo:true,
        };
      },
      template: `<div v-if="show">hello world</div>
                <div v-if="conditionOne">if</div>
                <div v-else-if="conditionTwo">else-if</div>
                <div v-else>else</div>
                <div v-show="show">你好</div></div>
      `,
    });
    const vm = app.mount("#root");
  </script>
</html>
