<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>双向绑定</title>
  </head>
  <script src="Vue双向绑定.js"></script>
  <body>
    <div id="app">
      <span>name: {{name}}</span>
      <input type="text" v-model="name" />
      <span>other:{{other.like}}</span>
      <input type="text" v-model="other.like" />
    </div>
  </body>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        name: "乔治弟弟",
        other: {
          like: "She",
        },
      },
    });
    console.log(vm);
  </script>
</html>
